<div class="w-full bg-[#FFFAF2] py-6">
  <nav class="flex justify-center items-center">
    <a href="/" class="text-gray-600 hover:text-gray-900">Home</a>
    <span class="text-gray-300 mx-6">|</span>
    <a href="/about" class="text-gray-600 hover:text-gray-900">About</a>
    <span class="text-gray-300 mx-6">|</span>
    <a href="/resume" class="text-gray-600 hover:text-gray-900">Resume</a>
  </nav>
</div>
